<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link th:href="@{css/all.css}" rel="stylesheet">
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{css/sf.css}" rel="stylesheet">
    </head>
    <body>  
        <!-- Left column -->
        <div th:replace="fragments/menu :: navbar"></div>
        <!-- Java Script -->
        <script type="text/javascript" th:src="@{/javascript/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/jquery-migrate-1.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/sf-script.js}"></script>
        <!--        <h1>Create New Course</h1>     
                <div>
                    <form action="#" th:action="@{/saveCourse}" th:object="${course}" method="POST">
                        <div th:object="${description}">
                            <div th:object="${image}">
                                UserID: <input type="text" th:field="${course.userId}"/><br/>
                                Course Name: <input type="text" th:field="${course.courseName}"/><br/>
                                Course Image: <input type="text" th:field="${image.imageUrl}"/><br/>
                                Description: <input type="text" th:field="${description.description}"/><br/>
                            </div>
                        </div>
                                    Course Description: <input type="text" th:field="*{courseName}"/><br/>
                        <input type="submit" value="Create" />
                    </form>
                </div>-->
    </body>
</html>
