<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Create New Course</div>
         <table border="1">
            <tr>
                <th>CourseID</th>
                <th>CourseName</th>
                <th>CourseRating</th>
                <th>CourseDate</th>
            </tr>
<!--            <tr th:each="course : ${course}">
                <td th:text="*{course.courseId}"></td>
                <td th:text="*{course.courseName}"></td>
                <td th:text="*{course.ratingId}"></td>
                <td th:text="*{course.createDate}"></td>
            </tr>-->
        </table>
    </body>
</html>
