<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>This is Homepage</div>
        <a th:href="@{/course/add}" class="btn btn-primary">insert</a>
        <a th:href="@{/course/display}" class="btn btn-primary">Display</a>
        <a th:href="@{/demo}" class="btn btn-primary">Demo home Screen</a>
    </body>
</html>
