<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
            <tr>
                <th>LectureId</th>
                <th>LectureName</th>
                <th>LectureWeek</th>
                <th>CourseId</th>
                <th>MarkAsRead</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="lecture : ${lectures}">
                <td th:text="*{lecture.lectureId}"></td>
                <td th:text="*{lecture.lectureName}"></td>
                <td th:text="*{lecture.lectureWeek}"></td>
                <td th:text="*{lecture.courseId}"></td>
                <td th:text="*{lecture.markAsRead}"></td>
                <td><a th:href="@{/lecture/{lectureId}(lectureId=${lecture.lectureId})}">Update</a></td>
                <td><a th:href="@{/lecture/delete/{lectureId}(lectureId=${lecture.lectureId})}">Delete</a></td>
            </tr>
        </table>
</body>
</html>
