<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="vi-VN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/lectures/update/{lectureId}(lectureId=${lecture.lectureId})}"
              method="PUT">
         Lecture name:
         <input type="text" th:text="*{lecture.lectureName}" />    
         <br/>
         Lecture week:
         <input type="text" th:field="*{lecture.lectureWeek}" />     
         <br/>
         Course id:
         <input type="text" th:field="*{lecture.courseId}" />     
         <br/>
         Mark as read
         <input type="text" th:field="*{lecture.markAsRead}" />     
         <br/>
         <input type="submit" value="Update" />
      </form>
    </body>
</html>
