<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link th:href="@{css/all.css}" rel="stylesheet">
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet">
        <link th:href="@{css/create.css}" rel="stylesheet">
    </head>

    <body>
        <h1>Cập nhật khóa học</h1>
        <div class="borderMain">
            <div class="container">
                <form action="#" th:action="@{/add}" th:object="${course}" method="POST">
                    <div th:object="${description}">
                        <div th:object="${image}">
                            <div class="mb-3">
                                <label for="inputCourseName" class="form-label">Tên khóa học</label><br/>
                                <input type="text" th:field="${course.courseName}"/><br/>
                            </div>
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Ảnh đại diện khóa học</label><br/>
                                <input type="text" th:field="${image.imageUrl}"/><br/>
                            </div>
                            <div class="mb-3">
                                <label for="inputTextArea" class="form-label">Mô tả</label><br/>
                                <textarea  th:field="${description.content}" rows="10" cols="50"></textarea><br/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Cập nhật khóa học</button>
                </form>
            </div>
        </div>
        <!-- Java Script -->
        <script type="text/javascript" th:src="@{/javascript/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/jquery-migrate-1.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/sf-script.js}"></script>
    </body>

</html>