.form-control {
  width: 50%;
  margin-bottom: 3%;
}

h1 {
  margin-bottom: -35px;
  margin-left: 10px;
  color: white;
}

.borderMain {
  border: 1px solid;
  margin: 50px 40px 10px 10px;
  border-radius: 15px;
  background-color: white;
}

.container {
  margin-top: 2%;
  margin-bottom: 15%;
  margin-left: 2%;
  padding-right: 0px;
  padding-left: 0px;
}

body {
  background-color: #1d232a;
}
